// start .sFiles
.sFiles {
	// --sPT: ;
	// --sPB: ;
	// --sTPB: ;
	&__nav {
		display: flex;
		border-bottom: 1px solid #d9dada;
		list-style: none;
		padding-left: rem(36);
	}
	&__link {
		display: block;
		margin-right: rem(40);
		color: $body-color;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: rem(15);
		padding-bottom: rem(8);
		border-bottom: 1px solid transparent;
		&:hover {
			color: $primary;
		}
		&.active {
			font-weight: bold;
			text-align: center;
			color: $primary;
			border-color: currentColor;
		}
	}
	table {
		width: 100%;
	}
	th {
		font-size: 10px;
		border-bottom: 2px solid #d9dada;
		font-weight: normal;
		padding-bottom: rem(6);
	}
	td {
		border-bottom: 1px solid #d9dada;
		padding-top: rem(16);
		padding-bottom: rem(16);
		font-size: $small;
		&:last-child {
			text-align: right;
		}
	}
	.progress {
		width: 84px;
		margin-left: auto;
	}

	// .icon-hand {
	// 	font-size: 1.5rem;
	// }

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	//
	@include media-breakpoint-between(md, xl) {
	}
	//
	@include media-breakpoint-only(xl) {
	}
	//
	@include media-breakpoint-down(xl) {
	}
} // end.sFiles

.link-download {
	display: inline-flex;
	align-items: center;
	font-weight: bold;
	font-size: 1rem;
	.icon {
		font-size: 1rem;
		fill: transparent;
		stroke-width: 2px;
		stroke: currentColor;
		margin-right: rem(8);
	}
}
.btn-table {
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: rem(14);
	@include mt;
	border: none;
	outline: none;
	background: none;
	
	.icon {
		font-size: 1rem;
		fill: transparent;
		stroke-width: 2px;
		stroke: currentColor;
		margin-right: rem(8);
	}
	&--dark {
		color: $body-color;
		&:hover {
			color: $primary;
		}
	}
	&--primary {
		color: $primary;
		&:hover {
			color: $body-color;
		}
	}
}

.icon-hand {
	font-size: 1.2rem;
}

.icon-calendar {
	font-size: 1rem;
}

.icon-play, .icon-pause {
	font-size: 1.2rem;
	fill: currentColor !important;
	stroke: transparent !important;
}
