.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-dashed {
	font-size:(93/10)*1rem;
	width:(119/93)*1em;
}
.icon-basket {
	font-size:(24/10)*1rem;
	width:(22/24)*1em;
}
.icon-calendar {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-calendar-primary {
	font-size:(17/10)*1rem;
	width:(16/17)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-chevron-down-primary {
	font-size:(7/10)*1rem;
	width:(10/7)*1em;
}
.icon-chevron-right {
	font-size:(18/10)*1rem;
	width:(11/18)*1em;
}
.icon-close {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-cross {
	font-size:(14/10)*1rem;
	width:(14/14)*1em;
}
.icon-download {
	font-size:(17/10)*1rem;
	width:(19/17)*1em;
}
.icon-fb {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-file {
	font-size:(17/10)*1rem;
	width:(14/17)*1em;
}
.icon-hand {
	font-size:(17/10)*1rem;
	width:(13/17)*1em;
}
.icon-instagram {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-pause {
	font-size:(13/10)*1rem;
	width:(8/13)*1em;
}
.icon-play {
	font-size:(13/10)*1rem;
	width:(8/13)*1em;
}
.icon-settings {
	font-size:(24/10)*1rem;
	width:(25/24)*1em;
}
.icon-telegram {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-viber {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-vk {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-whatsapp {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
