mixin aside(data)
	// start aside
	+b.UL.aside&attributes(attributes)
		+e.LI.item
			+e.A.link--logo(href="#")
				+pic("logo.png",'',0)
		+e.LI.item
			+e.A.link(href="#")
				+e.DIV.title Парсинг 
				+icon('chevron-right')
		+e.LI.item
			+e.A.link(href="#").active
				+e.DIV.text Проверка
				+e.DIV.title Akeno
				+icon('chevron-right')
		+e.LI.item
			+e.A.link(href="#")
				+e.DIV.text Проверка цен

				+e.DIV.title RP, RRP,  future RRP 
				+icon('chevron-right')
		+e.LI.item
			+e.A.link(href="#")
				+e.DIV.text Проверка цен
				+e.DIV.title Web Shop RP
				+icon('chevron-right')
		+e.LI.item
			+e.A.link(href="#")
				+e.DIV.text Проверка
				+e.DIV.title Picture pool
				+icon('chevron-right')

	// end aside