extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/aside/_aside.pug
include ../blocks/sParsing/_sParsing.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Проверка цен RP, RRP, future RRP '
	title= title
block pagecontent

	+aside
	main.main-block
		+topLine(title)
		
		+sParsing3
			.row.mb-3
				.col-auto.d-flex.align-items-center
					.strong Выберите период
				.col
					input.daterange(type='text' name='daterange' value='10.08.2020 - 12.02.2021')

