extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/aside/_aside.pug
include ../blocks/sParsing/_sParsing.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Парсинг товаров'
	title= title
block pagecontent

	+aside
	main.main-block
		+topLine(title)
		
		+sParsing