mixin topLine(t)
	// start topLine
	+b.topLine#topLine&attributes(attributes)
		.container-fluid
			.row
				.col.align-self-center
					h1= t
				.col-auto
					.row
						.col-6
							div.strong
								+icon('file')
								| Файлы
							div 
						.col-6
				.col-auto
					+e.btn(href="#") Обновить базу
	// end topLine